/Library
/Assembly-CSharp.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-firstpass-vs.csproj
/Assembly-CSharp-vs.csproj
/Assembly-UnityScript.unityproj
/Assembly-UnityScript-vs.unityproj
/Notice Me.sln
/Notice Me.userprefs
/Notice Me-csharp.sln
/Temp
